<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Explicitly disable rewriting for front controllers
    RewriteRule ^/zentserp/index.php - [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !^.*\.(gif|jpg|jpeg|png|swf|js|html|htm)$
    # Change below before deploying to production
    RewriteRule ^(.*)$ /zentserp/index.php [QSA,L]
</IfModule>
